rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowed() {
      // Check if previous request timestamp is older than 1 minute
      return request.time.toMillis() - resource.data.lastRequestTime.toMillis() > 60000;
    }
    
    match /MessageBoard/{documentId} {
      // Only allow 1 request per minute for unauthenticated users
      allow write: if request.auth == null;
      // Update last request time with current timestamp on successful write
      allow update: if request.auth == null && isAllowed() && request.resource.data.lastRequestTime == request.time;
      // Allow read operations
      allow read: if true;
    }
  }
}
