import React from "react";
import { useState } from "react";
import "../../../global_components/backgroundcolors.css";
import { useNavigate } from "react-router-dom";
import "./{{name}}.css";


function {{name}}Main() {
  return (
    <div class="{{name}}-wrapper">

    </div>
  );
}

export default {{name}}Main;
