.bright-yellow {
    background-color: #E0E0E2;
}

.mellow-yellow {
    background-color: #E0E0E2;
}

.lightest-blue {
    background-color: #721817;
}

.medium-blue {
    background-color: #721817;
    color: white; 
}
.bright-yellow-border {
    border-color: #ffd60a;
}

.mellow-yellow-border {
    border-color: #E0E0E2;
}

.lightest-blue-border {
    border-color: #2B4162;
}

.medium-blue-border {
    border-color: #001d3d;
    color: white; 
}

.darkest-blue-border {
    border-color: #FA9F42;
    color: white;
}

.mellow-yellow-text {
    color: #ffc300;
}

.white-text {
    color: white;
}

.medium-blue-text {
    color: #0B6E4F; 
}

.extremely-large-text {
    font-size: 3em;
}

body {
    background-color: #0B6E4F;
}

/*

E0E0E2
0B6E4F
2B4162
FA9F42
721817

*/
